*{
    margin: 0;
    padding: 0;
    background-color: #e9d710;
}
h1{
    background-color:#081b31;
    color: #fff;
    height: 3rem;
    text-align: center;
    line-height: 3rem;
}

.choice{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.choice:hover{
    /* height: 160px;
    width: 160px; */
    object-fit: cover;
    border-radius: 30%;

    background-color: #081b31;
    /* opacity: 0.5; */

    cursor: pointer;
}

img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 30%;
    
}

.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;

}

.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap: 5rem;
    
    
}

#userscore,#compscore{
    font-size: 5rem;
    background-color: bisque;
    height: 5rem;
    width: 5rem;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 10%;
}

#a{
    background-color: burlywood;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 8%;
    margin-top: 1rem;
}

.message{
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
#msg{
    height: 40px;
    border-radius: 5%;
    background-color: aqua;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    display: inline;
    padding: 1rem;
    margin-bottom: 5rem;
    
}


.score{
   
    
}
